* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background-color: #FFCC8F;
  }
.body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
.line{
    background-color: #FFDAAF;
    height: 600px;
    width: auto;
}
.logo{
    background-image: url(../img/logo.jpg);
    height: 1600px;
    width: auto;
}
.card1{
    float: left;
    padding: 5px;
    margin: 200px;
    background-color: #A760FF;
    height: 700px;
    width: 500px;
}
.image1{
    /* background-repeat: no-repeat; */
    background-image: url(../img/in_money.jpg);
    height: 400px;
    width: 490px;
}
.title1{
    margin-top: 30px;
font-size: 30px;
font-weight: 400;
font-style: italic;
font-family: 'Splash', cursive;
}
.text1{
    padding: 10px;
    margin-top: 80px;
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Splash', cursive;
}
.card2{
    float: right;
    padding: 5px;
    margin: 200px;
    background-color: #CA82FF;
    height: 700px;
    width: 500px;
}
.image2{
    /* background-repeat: no-repeat; */
    background-image: url(../img/out_money.jpg);
    height: 400px;
    width: 490px;
}
.title2{
    margin-top: 30px;
font-size: 30px;
font-weight: 400;
font-style: italic;
font-family: 'Splash', cursive;
}
.text2{
    padding: 10px;
    margin-top: 80px;
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Splash', cursive;
}
.bg2{
    background-image: url(../img/flag.jpg);
    height: 800px;
    height: 300px;
}
.con{
    background-color: chartreuse;
    color: chocolate;
    font-size: 70px;
}
.larger{
    font-size: 70px;
    padding: 5px;
}
.email{
    background-color: #FFDAAF;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    float: left;
    font-weight: 300;
    color: aquamarine;
}
.telephone{
    font-weight: 400;
    background-color: #FFDAAF;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    float: right;
    color: springgreen;
}